@import "_vars.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}


body {
	min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  font-family: 'STIX Two Text', serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1110px;
  margin: 0 auto;
}


button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button:active {
  outline: none;
}

.wrapper {
  // position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  background-color: transparent;
  transition: all .2s;

  &.covered::after {
    content: '';
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(#000, .4);
  }
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.btn {
  color: #fff;
  background: #000000;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: rgba(#000, .9);
  }
  &:active {
    background-color: rgba(#000, .7);
  }
}

.input {
  background: #FBFBFB;
  border-radius: 5px;
  display: inline-block;
}

.menu-btn {
  position: absolute;
  display: none;
  left: 20px;
  top: 20px;
  z-index: 7;
  background-color: transparent;
  border: none;
  div {
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: all .5s;
    &:htn-child(2) {
      width: 20px;
    }
  } 
  div + div {
    margin-top: 5px;
  }
}

.menu-btn.active {
  div:nth-child(2) {
    opacity: 0;
  }
  div:first-child {
    transform: translateY(5px) rotate(135deg);
  }
  div:last-child {
    transform: translateY(-9px) rotate(-135deg);
  }
}

.slider-arr {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(0%, -50%);

  &.slick-disabled {
    opacity: .3;
  }
}

.slider-arr-left {
  left: 0;
  transform: rotate(180deg);
}

.slider-arr-right {
  right: 0;
}


.page-section {

  padding-bottom: 50px;

  // .page-section__inner

  &__inner {
  }

  // .page-section__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
  }

  // .page-section__name

  &__name {
    font-size: 20px;
    line-height: 21px;
    padding-right: 30px;
  }

  // .page-section__link

  &__link {
    font-size: 14px;
    line-height: 21px;
    color: #858585;
    padding-right: 18px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      right: 4px;
      top: 4px;
      width: 7px;
      height: 12px;
      background-image: url('../images/arr-right.svg');
    }
  }

  // .page-section__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 255px));
    grid-template-rows: auto;
    grid-gap: 30px;
  }

  // .page-section__item

  &__item {
    text-align: center;
    position: relative;
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all .3s;
    &:hover {
      opacity: .9;
      transform: translate(0%, -2px);
    }
  }

  &__item a {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0 6px;
  }

  &__images {
    height: 281px;
  }

  // .page-section__img

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__imgwrapper {
    display: inline-block;
    position: relative;
    padding-top: 110%;
    width: 100%;
  }

  // .page-section__text

  &__text {
    margin-top: 18px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  // .page-section__price

  &__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto;
    margin-bottom: 7px;
  }

  &__colors {
    text-align: center;
    span {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: inline-block;
    }
    span + span {
      margin-left: 11px;
    }
  }
}

.page-section__items.page-section__items-narrow {
  padding: 0;
  display: grid;
  // grid-template-columns: repeat(3, minmax(auto, 255px));
  grid-template-columns: repeat(3, 31.3%);

  grid-template-rows: auto;
  grid-gap: 3%;
}

.page-section--last {
  padding-bottom: 82px;
}

.page-section--product {
  .page-section__imgwrapper {
    padding-top: 70%;
  }
  .page-section__text {
    margin-top: 0;
  }
}

@media (max-width:940px) {
  .page-section__items {
    grid-column-gap: 15px;
  }
}

@media (max-width:860px) {
  .page-section__items {
    display: block;
    padding: 0 20px;
  }
}

@media (max-width:630px) {
  .page-section__items.page-section__items-narrow {
    display: block;
    padding: 0 70px;
  }
}

@media (max-width:460px) {
  .page-section__name {
    font-size: 16px;
    line-height: 18px;
  }
  .page-section__link {
    font-size: 16px;
    line-height: 18px;
  }
  .page-section__items.page-section__items-narrow {
    padding: 0 20px;
  }
}

@media (max-width:430px) {
  .page-section__imgwrapper {
    padding-top: 90%;
  }
}

.color-ECECEC {
  background-color: #ECECEC;
}
.color-1D1D1D {
  background-color: #1D1D1D;

}
.color-3A814E {
  background-color: #3A814E;

}
.color-6B46B9 {
  background-color: #6B46B9;

}
.color-E63838 {
  background-color: #E63838;

}
.color-F0E9AA {
  background-color: #F0E9AA;

}
.color-E17614 {
  background-color: #E17614;

}
.color-0C98C4 {
  background-color: #0C98C4;

}
.color-F9D311 {
  background-color: #F9D311;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input {
  width: 100%;
  background: #FBFBFB;
  border-radius: 5px;
  height: 40px;
  border: none;
  margin-bottom: 45px;
  padding: 0 20px;

  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #D6D6D6;
  font-family: 'STIX Two Text', serif;
  color: #000;
}

.form-label {
  font-size: 12px;
  line-height: 24px;
  color: #969696;
  text-align: left;
}

@media (max-width:540px) {
  .form-input {
    margin-bottom: 30px;
  }
  .form-label {
    font-size: 16px;
    line-height: 16px;
  }
}