
.header {

  // .header__top

  &__top {
    background: #FBFBFB;

    a {
      transition: all .3s;
    }
    a:hover {
      color: #000;
    }
  }

  // .header__top-inner

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
  }

  // .header__top-nav

  &__top-nav {
  }

  // .header__top-list

  &__top-list {
  }

  // .header__top-contacts

  &__top-contacts {
  }

  // .header__top-contactslist

  &__top-contactslist {
  }

  // .header__bottom

  &__bottom {
    a {
      opacity: 1;
      transition: all .3s;
    }
    a:hover {
      opacity: .7;
    }
  }

  // .header__bottom-inner

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    .top-contacts__list {
      display: none;
    }
  }

  // .header__bottom-nav

  &__bottom-nav {
    .top-list {
      display: none;
    }
  }

  // .header__bottom-list

  &__bottom-list {
  }

  // .header__logo

  &__logo {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  // .header__logo-img

  &__logo-img {
  }

  // .header__user-nav

  &__user-nav {
  }
}

.top-list {

  // .top-list__item

  &__item {
    display: inline-block;
  }

  &__item + .top-list__item {
    margin-left: 25px;
  }

  // .top-list__link

  &__link {
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #969696;
  }
}
.top-contacts {

  // .top-contacts__list

  &__list {
  }

  // .top-contacts__list-item

  &__list-item {
    display: inline-block;
  }

  &__list-item + &__list-item {
    margin-left: 25px;
  }

  // .top-contacts__list-link

  &__list-link {
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #969696;
  }

  &__list-viber {
    padding-left: 18px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      top: 0px;
      left: 0;
      background-image: url('../images/viber-icon.svg')

    }
  }

  &__list-inst {
    padding-left: 18px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      top: 0px;
      left: 0;
      background-image: url('../images/inst-icon.svg')

    }
  }
}
.bottom-list {

  // .bottom-list__item

  &__item {
    display: inline-block;
  }

  &__item + &__item {
    margin-left: 35px;
  }

  // .bottom-list__link

  &__link {
    font-size: 12px;
    line-height: 24px;
  }
}
.user-nav {

  // .user-nav__list

  &__list {
  }

  // .user-nav__item

  &__item {
    display: inline-block;
  }

  &__item + &__item {
    margin-left: 46px;
  }

  // .user-nav__link

  &__link {
    &:hover img{
      opacity: .8;
    }
  }

  // .user-nav__img

  &__img {
    opacity: 1;
    transition: all .3s;
  }
}

.menu-btn {
  z-index: 25;
}

@media (max-width:992px) {
  .top-list__link,
  .bottom-list__link,
  .top-contacts__list-link {
    font-size: 14px;
    line-height: 18px;
  }
  .top-list__item+.top-list__item {
    margin-left: 15px;
  }
  .bottom-list__item+.bottom-list__item {
    margin-left: 10px;
  }
  .top-contacts__list-item+.top-contacts__list-item {
    margin-left: 10px;
  }
  .user-nav__item+.user-nav__item {
    margin-left: 18px;
  }

  .top-contacts__list-inst,
  .top-contacts__list-viber {
    font-size: 0px;
    line-height: 0px;
  }
  .top-contacts__list-inst:after,
  .top-contacts__list-viber:after {
    width: 12px;
    height: 12px;
    background-size: contain;
    top: -9px;
  }
}

@media (max-width:900px) {
  .top-list {
    display: none;
  }
  .header__bottom-inner {
    justify-content: flex-end;
  }
  .header__bottom-nav {
    padding: 80px 20px 80px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 23;
    width: 300px;
    background-color: #738CA4;
    min-height: 100%;
    height: 100vh;
    transform: translate(-170%, 0);
    transition: all .3s;
    overflow: auto;
    &.active {
      transform: translate(0, 0);
    }
    .top-list {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 30px;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 150px;
        margin: 0 auto;
        height: 1px;
        background-color: #000;
      }  
    }
  }
  .bottom-list {
    display: flex;
    flex-direction: column;
  }
  .top-list__item +.top-list__item {
    margin-left: 0px;
  }
  .bottom-list__item +.bottom-list__item {
    margin-left: 0px;
  }
  .top-list__item,
  .bottom-list__item {
    margin-bottom: 20px;
    a {
      font-size: 18px;
      line-height: 24px;
      color: #000;
    }
  }
  .menu-btn {
    display: block;
  }
  body.lock {
    overflow: hidden;
  }
}

@media (max-width:500px) {
  .header__bottom-nav {
    width: 100%;
  }
  .header__top {
    display: none;
  }
  .top-contacts__list-inst,
  .top-contacts__list-viber {
    font-size: 18px;
    line-height: 24px;
  }
  .top-contacts__list-item + .top-contacts__list-item {
    margin-left: 0px;
  }
  .top-contacts__list {
    flex-direction: column;
  }
  .top-contacts__list-item {
    display: block;
    margin-bottom: 20px;
    a {
      color: #000;
    }
  }
  .top-contacts__list-inst,
  .top-contacts__list-viber {
    padding-left: 0;
  }

  .top-contacts__list-inst:after,
  .top-contacts__list-viber:after {
    display: none;
  }
  .header__logo {
    top: 24px;
    img {
      width: 58px;
      height: 27px;
      object-fit: contain;
    }
  }

  .bottom-list {
    position: relative;
    margin-bottom: 30px;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 150px;
      margin: 0 auto;
      height: 1px;
      background-color: #000;
    }  
  }
  .user-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80px;
  }
  .user-nav__item {
    text-align: center;
  }
  .user-nav__item+.user-nav__item {
    margin-left: 0px;
  }
  .header__bottom-inner {
    .top-contacts__list {
      display: flex;
    }
  }
}