@font-face {
  font-family: 'ALSAlumnaRegular';
  src: url('../fonts/ALS\ Alumna\ Regular.woff2') format('woff2'),
  url('../fonts/ALS\ Alumna\ Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

%h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: 'ALSAlumnaRegular';
  @media (max-width:992px) {
    font-size: 24px;
    line-height: 24px;
  }
}

%title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: 'ALSAlumnaRegular';
}

%aside-btn {
  z-index: 6;
  position: absolute;
  top: 10px;
  left: 5px;

  display: none;
  width: 45px;

  & div {
    width: 45px;
    height: 4px;
    background-color: rgba(#000, .6);
    border-radius: 2px;

    &:first-child {
      width: 30px;
    }
    &:last-child {
      width: 23px;
    }
  }

  div + div {
    margin-top: 5px;
  }
 
}