
.restore {

  padding: 88px 0 79px;


  // .restore__inner

  &__inner {
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    @extend %h1;
    margin-bottom: 15px;
  }

  // .restore__subtitle

  &__subtitle {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  // .restore__form

  &__form {
    max-width: 314px;
    margin: 0 auto;
  }

  // .restore__form-label

  &__form-label {
  }

  // .restore__form-input

  &__form-input {
  }

  // .restore__form-btn

  &__form-btn {
    padding: 12px 80px 9px;
  }
}

@media (max-width:540px) {
  .restore {
    padding: 50px 0 50px;
  }

}